body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

.alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert {
    background-color: rgb(235, 235, 235);
    padding: .75em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
}

.alert.hide {
    opacity: 0;
}

.cell {
    padding: 1.5rem;
    border: 2px solid #efefef;
    margin: 2px;
    border-radius: 4px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.animate__pulse {
    --animate-duration: .1s;
}

.animate__shakeX {
    --animate-duration: 1s;
}



[data-status="active"] {
  border-color: #949494;
}

[data-status="missed"]{
    border: none;
    background-color: #646464 !important;
    color: white;
}

[data-status="correct"] {
    border: none;
    background-color:#8aa8a1 !important;
    color: white;
}

[data-status="present"] {
    border: none;
    background-color: #d1b490 !important;
    color: white;
}


.game-board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;

}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.keyboard {
    margin-top: 3rem;
    min-width: 0;
}

.keyrow {
    display: flex;
    gap: 5px;
    place-items: center;
    margin: 0 auto 8px;
}

.space {
    flex: 0.5;
}

.key {
    padding: 1rem;
    font-weight: bold;
    background-color: #e0e0e0;
    flex: 1;
    border-radius: 5px;
}

@media (max-width: 40rem) {
    .key {
        padding: .75rem;
    }
}

@media (max-width: 30rem) {

    .key {
        padding: .5rem;
    }
}

.big {
    flex: 1.5;
}

